@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Karla:wght@200;500;600;700;800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page {
    font-family: 'Comfortaa', serif;
    width: 60%;
    margin: auto;
}

.header__img {
    width: 300px;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
}

.header__names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
}

.header__title {
    margin-top: 50px;
    font-size: 30px;
}

.header__subtitle {
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.calculator__text {
    text-align: center;
}

/*Для телефонов*/
@media screen and (max-width: 768px) {
    .calculator__inputs {
        flex-direction: column;
    }

    .calculator {
        width: 80%;
    }

    .select {
        width: 100%;
    }
    .swiper {
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
    }
}

/*Для компьютеров*/
@media screen and (min-width: 768px) {
    .calculator__inputs {
        flex-direction: row;
        justify-content: space-between;
    }

    .calculator {
        width: 80%;
    }

    .calculator__inputs {
        align-items: center;
    }

    .select, .contribution__button, .contribution__input {
        margin-left: 10px;
    }

    .calculator__text {
        margin-left: 10px;
    }

    .select {
        width: 50%;
    }
    .swiper {
        margin-bottom: 50px;
        width: 50%;
        height: 50%;
    }
}

.calculator__inputs {
    display: flex;
}

.contribution__input {
    height: 36px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}

.select, .contribution__button {
    height: 40px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cats-header {
    text-align: center;
    margin-top: 50px;
}

.calculator__header {
    text-align: center;
}